/* put your styles here */
.custom-loader {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
}

.loader-text {
    position: absolute;
    left: -8px;
    bottom: -35px;
    color: #3498db;
    font-weight: bold;
}

#spin-loader {
    position: absolute;
    bottom: 80px;
    left: 80px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}